
   p{
      color:#3C0F4B;
      text-align:left;
       }
   h1{
     color: #129EDB;
     text-align:center;
       font-family:arial black;
       front-size:120%;
        }
    body{
     background-color:#D6EAF8 ;  
     font-family:Assyrian;
    }
    a{
    background-color:#F604CA;  
     font-family:caliban; }
